header {
  background-color: rgb(160, 160, 160);
}

#title {
  text-align: center;
  font-family: monospace;
  color: black;
  margin: 40px;
}

body {
  background-color: rgb(160, 160, 160);
}

#color-palette {
  padding-bottom: 20px;
  display: flex;
  margin: auto;
  justify-content: center;
}

#preto {
  background-color: black;
}


#clear-board {
  padding-top: 30px;
  padding-bottom: 30px;
  display: block;
  width: 300px;
  margin: auto;
  border: 5px solid black;
  font-size: 50px;
  font-family: monospace;
  text-align: center;
  color: black;
}

#center-board {
  display: flex;
  justify-content: center;
}

#pixel-board {
  margin-top: 30px;
  font-size: 10px;
}

.pixel {
  display: inline-block;
  width: 40px;
  height: 40px;
  border: solid black 1px;
  background-color: white;
}

.color {
  height: 40px;
  width: 40px;
  border: 1px solid black;
}
